<!DOCTYPE html>
<html>
	<head>
		<title>Walker Services</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- JQuery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel='stylesheet' type='text/css' href='style.css'>

		<script type='text/javascript'>
			$(document).ready(function(){
				$('.before_after').click(function(){
					var temp = $(this).attr('src');
					$(this).attr('src', $(this).attr('alt-src'));
					$(this).attr('alt-src', temp);
				})
			})
		</script>
	</head>
	<body class='container'>
		<div class='jumbotron'>
			<h1>Walker Services</h1>
		</div>
		<div class='container'>
		<div class='row'>
			<img src='girl_pulling_hair.png' class='col-md-offset-1 col-md-3'>
			<h3 class='col-md-8'>Feel like you are overwhelmed? Let me help.</h3>
		</div>
		<h2 class='text-center'>See the Difference I Can Make</h2>
		<div class='row diff'>
			<!-- <h2 class='text-center'>See the Difference I Can Make</h2> -->
			<img src='sink_beforeAfter.jpg' class='img-responsive pic col-md-4'>
			<img src='bathroom_beforeAfter.jpg' class='img-responsive pic col-md-4'>
			<img src='shower_beforeAfter.jpg' class='img-responsive pic col-md-4'>
			<img src='kitchen_beforeAfter.png' class='img-responsive pic2 col-md-6'>
			<!-- <img src='oven_beforeAfter.jpg' class='img-responsive pic2 col-md-4'> -->
			<img src='livingroom_beforeAfter.jpg' class='img-responsive pic2 col-md-6'>
		</div>
		<div class='row'>
			<!-- <img src='cleaning_bucket.jpg' class='col-md-3 pic'> -->
			<div id='contact_form'>
			<h4 id='contact' class='col-md-offset-1'>Contact Me</h4>
			<form action='/contact' method='post' class='col-md-offset-1 col-md-6'>
				<div class='form-group'>
					<label for='name' class='control-label'>Name</label>
					<input type="text" name="name" class='form-control'>
				</div>
				<div class='form-group'>
					<label for='email' class='control-label'>Email</label>
					<input type="email" name="email" class='form-control'>
				</div>
				<div class='form-group'>
					<label for='phone' class='control-label'>Phone</label>
					<input type="text" name="phone" class='form-control'>
				</div>
				<div class='form-group'>
					<label for='message' class='control-label'>Brief Description of the Job</label>
					<textarea name='message' class='form-control' rows='5'></textarea>
				</div>
				<button class='btn'>Send</button>
			</form>
			</div>
			<img src='apron_cleaning_supplies.jpg' class='img-responsive col-md-offset-1 col-md-3' id='apron'>
			<!-- <img src='lawnmower.png' class='col-md-3 pic'> -->
		</div>
<!-- 		<div class='row'>
			<img class='before_after' src='dirty_toilet.jpg' alt-src='clean_toilet.jpg'/>
			<img class='before_after' src='dirty_tub.jpg' alt-src='clean_tub.jpg'
			<h5>Click on a picture to show before and after</h5>
		</div> -->
		<h5>See my profile at <a href='https://www.care.com/p/jennyw1943/hk' target='_blank'>care.com</a></h5>
		</div>
	</body>
</html>