<!DOCTYPE html>
<html>
	<head>
		<title>Walker Services</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body class='container'>
		<h1>Walker Services</h1>
		<h4>Contact Me</h4>
		<form action='contact' method='post'>
			<div class='form-group'>
				<label for='name' class='control-label'>Name</label>
				<input type="text" name="name" class='form-control'>
			</div>
			<div class='form-group'>
				<label for='email' class='control-label'>Email</label>
				<input type="email" name="email" class='form-control'>
			</div>
			<div class='form-group'>
				<label for='phone' class='control-label'>Phone</label>
				<input type="text" name="phone" class='form-control'>
			</div>
			<div class='form-group'>
				<label for='message' class='control-label'>Brief Description of the Job</label>
				<textarea name='message' class='form-control' rows='5'></textarea>
			</div>
		</form>
	</body>
</html>