.container {
	padding-bottom: 20px
}
.jumbotron {
	/*background-image: url('/sparkling_counter.jpg');*/
	background: url('/sparkling_counter.jpg') no-repeat center;
	height: 490px;
}
.jumbotron h1 {
	font-family: Impact;
	font-size: 8.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 90px
}
/*img {
	border: 1px solid black; 
}*/
.diff {
	background-color: black
}

.pic{
	padding: 5px;
	height: auto
}
.pic2 {
	padding: 5px;
	height: 300px
}
#apron {
	width: 30%;
	margin-top: 15%
}
/*h4 {
	color: blue;
}*/

button {
	color: white;
	background-color: black;
}
/*.before_after {
	width: 250px;
}*/